.open{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .text-center{
    text-align: center;

  }
  .secondary-cg{
    background-color: #f1d6c2;
  }

/*  nav style*/
.header{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* shar style */
.text-orimary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: azure;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 53px;
    font-weight: bold;
    color: #181818;

}
.section-description{
    font-size: 18px;
    color: #757575;
}
nav ul li{
    list-style: none;
    margin-right: 50px;

}
nav ul {
    display: flex;
    align-items: center;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
.dark-2{
    color: rgb(71, 71, 71);

}
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;

}
.banner-profile-pic{
    width: 580px;

}
.banner-content{
    max-width: 580px;

}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
/* About style */
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}
/* skills section */

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.08) ;
}
/* Resum section style */

.resumr-container{
    display: flex;
    gap: 24px;

}
.exoerience-sub-tilte{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.experince-description, .exoerience-sub-tilte{
    color: #75757575;

}
.resume hr{
    margin: 30px 5px;

}
.resume-download-cv{
    margin-top: 50px;
}
/* Foooter style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;

}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}